<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wagg.ly</title>

    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/mainStyle.css"/>
  </head>

  <body>
    <div class="topbar">
      <div id="icon" class="topbar">
        <a href="/">
          <img src="/assets/dog_icon_512.png" alt="Wagg.ly icon" href="/" width="85"
          height="85" class="topbar">
        </a>
      </div>

      <a href="/">
        <h1 id="title-text" class="topbar">
          Wagg.ly
        </h1>
      </a>
    </div>

    <div id="left-side" class="partition">
      
    </div>
  </body>
</html>
