<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wagg.ly</title>

    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/extraStyle.css"/>
  </head>

  <body>
    <div id="centre-box" class="topbar">
      <div id="icon" class="topbar">
        <a href="/">
          <img src="/assets/dog_icon_512.png" alt="Wagg.ly icon" href="/" width="85"
          height="85" class="topbar">
        </a>
      </div>

      <a href="/">
        <h1 id="title-text" class="topbar">
          Wagg.ly
        </h1>
      </a>

      <form method="post" action="/loginSub">
        <input name="username" type="text"
        placeholder="Username">
        <input name="password" type="text"
        placeholder="Password">
        <button type="submit" title="Login"></button>
      </form>

      <div>
        <a href="/newAccount"></a>
      </div>
      
    </div>
  </body>
</html>
