<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wagg.ly</title>
        <meta name="description" content="A dog-walking web app."></meta>

        <link rel="manifest" href="/site.webmanifest">
        <link rel="icon" type="image/x-icon" href="/assets/favicon-16x16.png">
        <link rel="stylesheet" href="static/css/mainStyle.css">

    </head>
    <div class="wrapper">
        <header class="header">
            <div class="logo">
                <a href="/">
                <img src="/assets/dog_icon_512.png" alt="Wagg.ly icon" width="100" height="100" class="logo">
                </a>
            </div>
            <div class="title">
                <a href="/">
                    Wagg.ly
                </a>
            </div>
        </header>
        <main class="content">
            <form action="/addOwner" method="post">
                
            </form>
        </main>
    </div>
</html>